@using System.Activities.Expressions
@model Przepisy.Models.AddNewReceip
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Wprowadzanie nowego przepisu</h2>
<hr/>

@using (Html.BeginForm("Index", "Recipe",FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <div class="form-group">
        <label for="Title">Tytuł: </label>
        @Html.TextBoxFor(receip => receip.Title, new {@class = "form-control", placeholder = "Tytuł przepisu"})
    </div>
    <div class="form-group">
        <label for="ShortDescription">Krótki opis: </label>
        @Html.TextBoxFor(receip => receip.ShortDescription, new { @class = "form-control", placeholder = "Krótkie streszczenie" })
    </div>
    <div class="form-group">
        <label for="Title">Treść: </label>
        @Html.TextAreaFor(receipe => receipe.Content, new {@class = "form-control", placeholder = "Treść przepisu"})
    </div>
    <table>
        <tr>
            <td>Select File : </td>
            <td>
                @Html.TextBoxFor(receip=>receip.File, new {type="file"})
                @Html.ValidationMessage("CustomError")
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-success">Zapisz</button>
}

